# Copyright (c) 2018 Sony Mobile Communications Inc.
#
# adux1050 specific configuration
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        adux1050
on init
    # slave address: 0x2c
    ONLY_IN_VARIANT(user,
    chmod 220 /sys/bus/i2c/devices/3-002c/adux1050_offset_dac_write
    chmod 660 /sys/bus/i2c/devices/3-002c/adux1050_enable
    )
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_offset_dac_write
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_enable
    ONLY_IN_VARIANT(userdebug,
    chmod 222 /sys/bus/i2c/devices/3-002c/adux1050_offset_dac_write
    chmod 666 /sys/bus/i2c/devices/3-002c/adux1050_enable
    chmod 222 /sys/bus/i2c/devices/3-002c/adux1050_force_calib
    chmod 666 /sys/bus/i2c/devices/3-002c/adux1050_intr_error
    chmod 222 /sys/bus/i2c/devices/3-002c/adux1050_mask_cdc_interrupt
    chmod 666 /sys/bus/i2c/devices/3-002c/adux1050_reg_read
    chmod 666 /sys/bus/i2c/devices/3-002c/adux1050_reg_write
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_force_calib
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_intr_error
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_mask_cdc_interrupt
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_reg_read
    chown system system /sys/bus/i2c/devices/3-002c/adux1050_reg_write
    )
    # slave address: 0x2d
    ONLY_IN_VARIANT(user,
    chmod 220 /sys/bus/i2c/devices/3-002d/adux1050_offset_dac_write
    chmod 660 /sys/bus/i2c/devices/3-002d/adux1050_enable)
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_offset_dac_write
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_enable
    ONLY_IN_VARIANT(userdebug,
    chmod 222 /sys/bus/i2c/devices/3-002d/adux1050_offset_dac_write
    chmod 666 /sys/bus/i2c/devices/3-002d/adux1050_enable
    chmod 222 /sys/bus/i2c/devices/3-002d/adux1050_force_calib
    chmod 666 /sys/bus/i2c/devices/3-002d/adux1050_intr_error
    chmod 222 /sys/bus/i2c/devices/3-002d/adux1050_mask_cdc_interrupt
    chmod 666 /sys/bus/i2c/devices/3-002d/adux1050_reg_read
    chmod 666 /sys/bus/i2c/devices/3-002d/adux1050_reg_write
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_force_calib
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_intr_error
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_mask_cdc_interrupt
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_reg_read
    chown system system /sys/bus/i2c/devices/3-002d/adux1050_reg_write
    )
    # slave address: 0x2e
    ONLY_IN_VARIANT(user,
    chmod 220 /sys/bus/i2c/devices/3-002e/adux1050_offset_dac_write
    chmod 660 /sys/bus/i2c/devices/3-002e/adux1050_enable)
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_offset_dac_write
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_enable
    ONLY_IN_VARIANT(userdebug,
    chmod 222 /sys/bus/i2c/devices/3-002e/adux1050_offset_dac_write
    chmod 666 /sys/bus/i2c/devices/3-002e/adux1050_enable
    chmod 222 /sys/bus/i2c/devices/3-002e/adux1050_force_calib
    chmod 666 /sys/bus/i2c/devices/3-002e/adux1050_intr_error
    chmod 222 /sys/bus/i2c/devices/3-002e/adux1050_mask_cdc_interrupt
    chmod 666 /sys/bus/i2c/devices/3-002e/adux1050_reg_read
    chmod 666 /sys/bus/i2c/devices/3-002e/adux1050_reg_write
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_force_calib
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_intr_error
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_mask_cdc_interrupt
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_reg_read
    chown system system /sys/bus/i2c/devices/3-002e/adux1050_reg_write
    )
